apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: trust-manager
  namespace: cert-manager
spec:
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  chart:
    spec:
      chart: trust-manager
      version: "v0.9.0" # Verify latest version
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
  interval: 1h
  install:
    createNamespace: true
  values:
    app:
      trust:
        namespace: cert-manager
