test
*.retry
*.env
*.env.yml
users.json
.vagrant
.terraform
.aws
.ssh
.ansible
venv/
terraform.tfstate*

website/public

# copied files
ansible/roles/terraform-*/terraform/backend.tf
ansible/inventory/*
!ansible/inventory/.gitkeep
ansible/playbooks/inventory/*
ansible/xnok-infra_bootstrap_tools-*.tar.gz