- name: List all Docker secrets managed by this role
  command: docker secret ls --filter label=managed_by=rotate_docker_secrets --format "{{ '{{ .Name }}' }}"
  register: utils_rotate_docker_secrets_existing_secrets
  changed_when: false

- name: Identify secrets to keep
  set_fact:
    utils_rotate_docker_secrets_secrets_to_keep: >-
      {{ utils_rotate_docker_secrets_secrets_to_keep | default([]) +
         [item.name + '_' + utils_rotate_docker_secrets_secret_checksums[item.name]] }}
  loop: "{{ utils_rotate_docker_secrets_secrets }}"

- name: Remove dangling secrets
  docker_secret:
    name: "{{ item }}"
    state: absent
  when: item not in (utils_rotate_docker_secrets_secrets_to_keep | default([]))
  loop: "{{ utils_rotate_docker_secrets_existing_secrets.stdout_lines }}"
  ignore_errors: true
  register: utils_rotate_docker_secrets_ignore_errors_register
