version: "3.9"

services:
  caddy:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: ghcr.io/xnok/infra-bootstrap-tools-caddy:main
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - caddy
    volumes:
      - "{{ caddy_dir }}/Caddyfile:/etc/caddy/Caddyfile"
      - caddy_data:/data
      - caddy_config:/config
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      restart_policy:
        condition: any
      resources:
        reservations:
          cpus: "0.1"
          memory: 200M

volumes:
  caddy_data:
  caddy_config:

networks:
  caddy:
    attachable: true
