---
- name: Login to Ziti Controller
  ansible.builtin.shell: |
    ziti edge login {{ openziti_config_controller_url }}       -u {{ openziti_config_admin_username }}       -p {{ openziti_config_admin_password }} -y
  register: openziti_config_ziti_login
  changed_when: false

- name: Create Global Edge Router Policies
  ansible.builtin.shell: |
    ziti edge create edge-router-policy all-endpoints --edge-router-roles '#all' --identity-roles '#all' || true
    ziti edge create service-edge-router-policy all-services --edge-router-roles '#all' --service-roles '#all' || true
  register: openziti_config_create_global_policies
  changed_when: "'Created' in openziti_config_create_global_policies.stdout"

- name: Configure Services
  include_tasks: service_setup.yml
  loop: "{{ openziti_config_services }}"
  loop_control:
    loop_var: service_item

- name: Create Client Identities
  ansible.builtin.shell: |
    ziti edge create identity user "{{ item }}" -o "/tmp/{{ item }}.jwt" -a "clients"
  args:
    creates: "/tmp/{{ item }}.jwt"
  loop: "{{ openziti_config_identities }}"
  register: openziti_config_create_identities

- name: Fetch Identity JWTs
  ansible.builtin.fetch:
    src: "/tmp/{{ item }}.jwt"
    dest: "{{ playbook_dir }}/{{ item }}.jwt"
    flat: true
  loop: "{{ openziti_config_identities }}"
