- name: This is an example of using Terraform with Ansible
  hosts: localhost
  gather_facts: true

  # I am using onepassword to fetch required env variable, feel free to use any method you like
  environment:
    TF_VAR_public_key_openssh: "{{
      lookup('community.general.onepassword', 'SSH Key',
      vault='infra-bootstrap-tools', field='public key')
      }}"
    DIGITALOCEAN_ACCESS_TOKEN: "{{
      lookup('community.general.onepassword', 'DIGITALOCEAN_ACCESS_TOKEN',
      vault='infra-bootstrap-tools', field='credential')
      }}"
    # use for terraform backend storage
    AWS_ACCESS_KEY_ID: "{{
      lookup('community.general.onepassword', 'TF_S3_BACKEND',
      vault='infra-bootstrap-tools', field='username')
      }}"
    AWS_SECRET_ACCESS_KEY: "{{
      lookup('community.general.onepassword', 'TF_S3_BACKEND',
      vault='infra-bootstrap-tools', field='credential')
      }}"

  roles:
  - xnok.infra_bootstrap_tools.terraform_digitalocean
