docker_swarm_app_caddy_github_client_id: "{{
  lookup('community.general.onepassword', 'CADDY_GITHUB_APP',
  vault='infra-bootstrap-tools', field='username')
  }}"
docker_swarm_app_caddy_github_client_secret: "{{
  lookup('community.general.onepassword', 'CADDY_GITHUB_APP',
  vault='infra-bootstrap-tools', field='credential')
  }}"
docker_swarm_app_caddy_jwt_shared_key: "{{
  lookup('community.general.onepassword', 'CADDY_JWT_SHARED_KEY',
  vault='infra-bootstrap-tools', field='password')
  }}"
docker_swarm_app_caddy_digitalocean_api_token: "{{
  lookup('community.general.onepassword', 'CADDY_DIGITALOCEAN_API_TOKEN',
  vault='infra-bootstrap-tools', field='credential')
  }}"

# Flux Bootstrap Secrets
k3s_flux_bootstrap_github_app_id: "{{
  lookup('community.general.onepassword', 'GitHub_Flux_App',
  vault='infra-bootstrap-tools', field='username')
  }}"
k3s_flux_bootstrap_github_app_installation_id: "{{
  lookup('community.general.onepassword', 'GitHub_Flux_App',
  vault='infra-bootstrap-tools', field='password')
  }}"
k3s_flux_bootstrap_github_private_key: "{{
  lookup('community.general.onepassword', 'GitHub_Flux_App_Private_Key',
  vault='infra-bootstrap-tools', field='notesPlain')
  }}"
