- name: Calculate checksums for secrets
  set_fact:
    utils_rotate_docker_secrets_secret_checksums: "{{ secret_checksums
      | default({})
      | combine({item.name: lookup('pipe', 'echo ' + item.value + '
      | md5sum
      | cut -d\" \" -f1')}) }}"
  loop: "{{ utils_rotate_docker_secrets_secrets }}"
  no_log: true

- name: Create new secrets if value has changed
  docker_secret:
    name: "{{ item.name }}_{{ utils_rotate_docker_secrets_secret_checksums[item.name] }}"
    data: "{{ item.value }}"
    state: present
    labels:
      managed_by: "rotate_docker_secrets"
      name: "{{ item.name }}"
  when: (previous_checksums[item.name] is not defined) or (previous_checksums[item.name] != utils_rotate_docker_secrets_secret_checksums[item.name])
  loop: "{{ utils_rotate_docker_secrets_secrets }}"
  no_log: true

- name: Replace secret names in Docker Compose file
  replace:
    path: "{{ utils_rotate_docker_secrets_docker_compose_path }}"
    regexp: "{{ item.name }}(_[a-f0-9]{32})?"
    replace: "{{ item.name }}_{{ utils_rotate_docker_secrets_secret_checksums[item.name] }}"
  loop: "{{ utils_rotate_docker_secrets_secrets }}"
  no_log: true
