#################################################
# OR INFRA Role: Docker Swarm Plugins Rclone
# Source:
#    https://rclone.org/docker/
#################################################

###
# GENERAL Setup
###
- name: Install required system packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop: ['fuse']

- name: Install rclone plugin
  community.docker.docker_plugin:
    plugin_name: rclone/docker-volume-rclone
    alias: rclone
    state: present

- name: Creates directory rclone
  file:
    path: "{{ item }}"
    state: directory
    mode: '0644'
  loop:
  - '/var/lib/docker-plugins/rclone/config'
  - '/var/lib/docker-plugins/rclone/cache'

########
# Testing Setup
# Create a test volume
########
- name: Create a volume using rclone
  community.docker.docker_volume:
    name: firstr_clone_volume
    driver: rclone
    driver_options:
      type: s3
      provider: DigitalOcean
      endpoint: "{{s3_endpoint}}"
      access_key_id: "{{ lookup('env', 'RCLONE_DIGITALOCEAN_ACCESS_KEY_ID') }}"
      secret_access_key: "{{ lookup('env', 'RCLONE_DIGITALOCEAN_SECRET_ACCESS_KEY') }}"
