{{- $image := .Params.og_image | default .Params.featured_image | default (index
.Site.Params.images 0) | absURL -}}
<meta property="og:image" content="{{ $image }}" />
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
{{- with .Description -}}
<meta property="og:description" content="{{ . }}" />
{{- else -}}
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{- end -}}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
