#################################################
# OR INFRA Role: Caddy
# Source: https://caddyserver.com/docs/running#docker-compose
# Auth Portal: https://authp.github.io/docs/authenticate/auth-portal
#################################################
---
###
# GENERAL Setup
###
- name: Creates directory caddy
  file:
    path: "{{ caddy_dir }}"
    state: directory
    mode: '0644'

- name: Define asssets folder
  set_fact:
    assets_path: "{{ role_path }}/assets"

- name: Copy Compose file to remote server
  template:
    src: "{{ item }}"
    dest: "{{ caddy_dir }}"
    mode: '0644'
  with_fileglob:
    - "{{ assets_path }}/*-stack.yml"
    - "{{ assets_path }}/Caddyfile"
    - "{{ assets_path }}/Dockerfile"

###
# Create Caddy Pre-requisits
###
- name: Manager Caddy Configs
  include_role:
    name: utils-rotate-docker-configs
  vars:
    docker_compose_path: "{{ caddy_dir }}/caddy-stack.yml"
    configs:
      - {name: 'global_caddyfile', file_path: "{{ caddy_dir }}/Caddyfile"}

- name: Manager Caddy Secrets
  include_role:
    name: utils-rotate-docker-secrets
  vars:
    docker_compose_path: "{{ caddy_dir }}/caddy-stack.yml"
    secrets:
      - {name: 'caddy_github_client_id', value: "{{ lookup('env', 'CADDY_GITHUB_CLIENT_ID') }}"}
      - {name: 'caddy_github_client_secret', value: "{{ lookup('env', 'CADDY_GITHUB_CLIENT_SECRET') }}"}
      - {name: 'caddy_jwt_shared_key', value: "{{ lookup('env', 'CADDY_JWT_SHARED_KEY') | replace('\n', '\\n') }}"}
      - {name: 'caddy_digitalocean_api_token', value: "{{ lookup('env', 'CADDY_DIGITALOCEAN_API_TOKEN') }}"}

###
# Start Container
###
- name: Start caddy Stack
  docker_stack:
    state: present
    name: caddy
    compose:
      - "{{ caddy_dir }}/caddy-stack.yml"
