#################################################
# OR INFRA Role: Caddy
# Source: https://caddyserver.com/docs/running#docker-compose
# Auth Portal: https://authp.github.io/docs/authenticate/auth-portal
#################################################
---
###
# GENERAL Setup
###
- name: Creates directory caddy
  file:
    path: "{{ caddy_dir }}"
    state: directory
    mode: '0644'

- name: Copy Compose file to remote server
  template:
    src: "{{ item }}"
    dest: "{{ caddy_dir }}"
    mode: '0644'
  with_fileglob:
    - "{{ role_path }}/assets/*-stack.yml"
    - "{{ role_path }}/assets/Caddyfile"
    - "{{ role_path }}/assets/Dockerfile"

###
# Create Caddy Pre-requisits
###
- name: Create secret for github auth
  docker_secret:
    name: "{{ item.name }}"
    data: "{{ item.value }}"
    state: present
  loop:
  - { name: 'caddy_github_client_id', value: "{{ lookup('env', 'CADDY_GITHUB_CLIENT_ID') }}" }
  - { name: 'caddy_github_client_secret', value: "{{ lookup('env', 'CADDY_GITHUB_CLIENT_SECRET') }}" }
  - { name: 'caddy_jwt_shared_key', value: "{{ lookup('env', 'CADDY_JWT_SHARED_KEY') | replace('\n', '\\n') }}" }

###
# Start Container
###
- name: Start caddy Stack
  docker_stack:
    state: present
    name: caddy
    compose:
      - "{{ caddy_dir }}/caddy-stack.yml"
